<div class="modal" id="modal{{id}}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title"><b>Add Note to <br> {{title}}</b></h6>
                 <button type="button" class="close" data-dismiss="modal" data-id={{id}} aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body form-group">

                <form class="Title">
                    Title: <input type="text" name="title" id="titleinput{{id}}"><br>
                </form>
                <form class="project">
                    <input type="hidden" name="projectid" id="project" value={{id}}><br>
                </form>
                <form class="project2">
                    <input type="hidden" name="projectid2" id="project2{{id}}" value={{id}} ><br>
                </form>

                <textarea class="form-control notes mt-2" id="bodyinput{{id}}" rows="3" cols=50 data-id={{id}}></textarea>

                <br>
                <form class="submitButton" data-id={{id}}>
                    <button type="button" value="Submit" class="saveModal btn btn-primary" id="submitButton" data-id={{id}}>
                    
                </form>

            </div>
        </div>

    </div>
</div>